# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml

# Android signing — NE JAMAIS committer ces fichiers
android/key.properties
android/app/upload-keystore.jks
android/app/*.jks
android/app/*.keystore

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# Secrets
*.env
google-services.json
GoogleService-Info.plist
